@charset "utf-8";

/* 글꼴설정 */
/* @import url('font.css');본고딕, NotoSans, font-family:'Noto Sans KR', sans-serif; */

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*==================▼ 프로젝트마다 변경하기!! ==================*/
html, body {height:100%}
body {-webkit-text-size-adjust:100%;}
h1, h2, h3, h4, h5, h6, th {font-weight:normal;}
html,body,div,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,time,mark,audio,video,input,select,textarea,button {
	margin:0;
	padding:0;
	border:0;
	font-size:15px;
	line-height:150%;
	font-family:'Noto Sans KR', sans-serif;
	color:#333;
	box-sizing:border-box;
	letter-spacing:-0.4px
}
@media screen and (max-width:716px) {
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
	a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
	small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
	fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
	article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,
	menu,nav,output,ruby,section,summary,time,mark,audio,video,input,select,textarea,button {
		line-height:140%;
	}
}
strong {font-weight:500}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,as {display:block;}
body {direction:ltr; line-height:1;}
ol, ul, dl, menu {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:''; content:none;}
table {width:100%; border-collapse:collapse; border-spacing:0; table-layout:fixed;}
caption {text-indent:100%; overflow:hidden; height:0}
button{border:0 none; background-color:transparent; cursor:pointer}
img,input,select,textarea,button {vertical-align:middle}
img {max-width:100%}
a{text-decoration:none}
a:hover{text-decoration:none}
input[type='text'],
input[type='password'],
input[type='file'],
textarea, select {
	box-sizing:border-box;
	-webkit-appearance: none;
    appearance: none;
	-webkit-border-radius: 0;
	border-radius:0;
}
select::-ms-expand{display:none}
input::-webkit-input-placeholder {color:#999;}/* 크롬 4–56 */
input:-moz-placeholder {color:#999; opacity:1;}/* 파이어폭스 4–18 */
input::-moz-placeholder {color:#999; opacity:1;}/* 파이어폭스 19–50 */
input:-ms-input-placeholder {color:#999;}/* 인터넷 익스플로러 10+ */
input::placeholder {color:#999; opacity:1;}/* 파이어폭스 51+, 크롬 57+ */

thead>tr>td{
    text-align: center;
    font-size: 35px;
    color: #111;
    width: 100%;
    height: 100%;
}
tbody{
    width: 100%;
    border-top: solid 2px #5a5d62;
}
tr{
    border-bottom: solid 1px #d8d8d8;
    height: 87px;
}
td{
    padding-top: 30px;
    float: left;
    
    height: 100%;
}
td:nth-child(1):{
	height:100%;'
	border-right: 1px solid #d8d8d8;
}
.bnum{
	font-size:20px;
    text-align : center;
    width: 9%;
}
.title{
	width : 54%;
    text-align: left;
    font-size: 25px;
    font-weight: 500;
    margin-top: -5px;
    text-decoration: underline;
}
.date{
    width: 25%;
    background:url("/resources/images/date_back.png");
    background-repeat: no-repeat;
    float: left;
    background-position-y: 35px;
    font-size: 20px;
    box-sizing: border-box;
    text-align: left;
    padding-left: 25px;
}
.process{
	font-size:20px;
    width : 10%;
    float: right;
    text-align: center;
}
.write_btn{
    margin-top: 25px;
    float: right;
    width: 85px;
    height: 40px;
    background-color: #8d8e97;
    color: #ffffff;
    text-align: center;
    padding-top: 8px;
}
